{% extends 'AppCoder/base.html' %}

{% block contenidovariable %}

<div class="container text-center">

    
    {% if errors %}
        
        {% for error in errors %}
            <p style="color:red">{{error}}</p>
        {% endfor %}
            
    {% endif %}
        

    <form action ="/AppCoder/actualizar_reserva/{{id_reserva}}/" method= "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
                {{formulario.as_table}}
        </table>

        <input type="submit" value="Modificar Reserva">
    </form>
</div>

{% endblock contenidovariable %}