<!DOCTYPE html>
<html lang="en">
    {% extends 'AppCoder/base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
  

    {%block contenidovariable%}
       
        <h1> Reserva tu estadía con nosotros hoy!</h1>
     
        <h3> Nuestros Servicios </h3>
        <table>
            <oi> Check In 3:00 PM / Check Out 12:00 PM </oi>
            <br> Ofrecemos completos servicios para mejorar tu estadía, como: </br>
            <br>
                <ul>
                    <li>WiFi</li>
                    <li>Recepción 24 Horas</li>
                    <li>Botones – Conserje</li>
                    <li>Desayuno</li>
                    <li>Cerraduras Electrónicas</li>
                    <li>TV Satelital DirecTV</li>
                </ul>

        </table>  

    {%endblock contenidovariable%}
</body>
</html>