<!DOCTYPE html>
<html lang="en">

{% extends 'AppCoder/base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    {% block contenidovariable%}
    
    <h1> Te has deslogueado...</h1>
    <a href="/AppCoder/inicio/">
        <input type="button" value="Volver a Inicio"/>
     </a>

    {%endblock contenidovariable%}
</body>
</html>